body {
  background-color: rgb(26, 25, 25);
  color: white;
  margin: 0;
  padding-top: 120px;
}

header {
  position: sticky;
  padding: 10px 0px 10px;
  background-color: rgb(17, 17, 17);
  z-index: 1200;
}

.btn-dark{
font-size: 1.1rem;
}

#div_nav {
  padding: 15px 0px 0px;
  max-width: 412px
}

.dropdown-label {
  padding: 0.15rem 0.75rem;
  text-decoration: none;
}

.dropdown-label:hover {
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none;
}

#floatingBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1100;
}

main {
  background-color: rgb(25, 25, 26);
}
