body {
  background-color: rgb(26, 25, 25);
  color: white;
  margin: 0;
  padding-top: 120px;
}

header {
  position: sticky;
  padding: 10px 0px 10px;
  background-color: rgb(17, 17, 17);
  z-index: 1200;
}

.btn-dark{
font-size: 1.1rem;
}

.btn-dark img {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
}

#div_nav {
  padding: 15px 0px 0px;
  max-width: 412px
}

.dropdown-label {
  padding: 0.15rem 0.75rem;
  text-decoration: none;
}

.dropdown-label:hover {
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none;
}

#floatingBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1100;
}

main {
  background-color: rgb(25, 25, 26);
}


/**-----------------Tabs and Cards*/
.card {
  background-color: rgb(25, 25, 26);
  color: white;
}

.nav-tabs .nav-link {
  color: grey;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: rgb(17, 17, 17);
  border-color: #dee2e6 #dee2e6 rgb(17, 17, 17);
}

.nav-tabs .nav-link img {
  width: 20px;
  height: 20px;

  filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg);
  opacity: 1;
}

.nav-tabs .nav-link.active img {
  filter: brightness(0) invert(1);
  opacity: 1;
}
